body{
    font-family: 'Arial';
    margin:20px;
    min-width: 400px;
    font-size: 15px;
}

input{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    border: 1px solid rgb(85, 135, 60);
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 14px;
    color: rgb(40, 61, 29);
}

button{
    background: rgb(85, 135, 60);
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 5px;
    border:none;
    transition: background-color 0.25s ease,
                color 0.25s ease,
                transform 0.2s ease;
}
button:hover{
    opacity: 0.9;
}
button:active{
    opacity: 0.75;
}

#info{
    color: rgb(51, 80, 36);
}

a{
    color: rgb(87, 168, 44);
}
